
.home-new-search-filter-keywords {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.home-new-search-filter-keywords {
    margin-bottom: 1.5rem;
}
.home-new-search-filter-keywords-input {
    width: 50%;
    height: 3rem;
}
.home-new-search-filter-keywords-input:focus {
    outline: 1px solid var(--primary-color);
}
@media only screen and (max-width: 680px) {
    .home-new-search-filter-keywords-input {
        width: 80%;
    }
}
@media only screen and (max-width: 430px) {
    .home-new-search-filter-keywords-input {
        width: 100%;
    }
}