
.new-listing-container {
    width: 50%;
    position: relative;
    top: 23vh;
    left: 6.4vw;
}
.new-listing-map-container {
    position: fixed;
    right: 0;
    top: 22%;
    width: 43.5%;
    height: 100%;
}
.new-listing-map-container-toggle {
  position: absolute;
  right: 0;
  top: 22%;
  width: 43.5%;
  height: 100%;
}
.new-listing-react-paginate {
    margin: 1rem 0;
    height: 10vh;
    width: 20%;
    position: relative;
    top: 10rem;
    left: 30%;
    transform: translateX(-50%);
}
/* React Pagination  */

.react-pagination-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }
  
  .react-pagination-container a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 0.7rem;
  }
  
  .react-link-class{
    font-weight: bold;
  }
  
  .react-link-class--active a {
    color: #fff;
    background: var(--primary-color);
  }
  .react-link-class--active a:focus {
      border: 2px solid var(--primary-color);
  }
  .react-link-class--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }

  .new-listing-clip-loader {
      position: absolute;
      top: 70%;
      left: 30%;
  }
@media only screen and (max-width: 900px){
    .new-listing-map-container {
        display: none;
    }
    .new-listing-container {
        width: 86vw;
        left: 0;
        margin: 0 auto;
    }
}
