
.change-password-container {
    margin-top: 20vh;
    display : grid;
    grid-template-columns: 25% 70%;
    column-gap: 2rem;
}

.change-password-account-settings {
    width: 90%;
    margin-left: 2rem;
}

.change-password-basic-info {
    border :1px solid red;
    width: 100%;
    height: 50vh;
}

@media only screen and (max-width: 992px){
    .change-password-container {
        grid-template-columns: 35% 60%;
    }
}
@media only screen and (max-width: 650px){
    .change-password-container {
        grid-template-columns: 95%;
        grid-template-rows: 30% 60%;
    }
}