
.home-new-search-filter-established-container {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.home-new-search-filter-established-text {
    margin-bottom: 1.5rem;
}
.home-new-search-filter-established-select-box {
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}
.home-new-search-filter-established-select-box:focus {
    outline: 1px solid var(--primary-color);
}
/* .home-new-search-filter-established-select-box option {
    padding: 1rem 1rem;
} */

.home-new-search-filter-established-select {
    width: 13rem;
    position: relative;
}
.home-custom-select-text {
    padding: 0.7rem 1rem;
    padding-left: 0.5rem;
    border: 1px solid rgba(0,0,0,0.4);
    cursor: pointer;
}
.home-custom-select-dropdown {
    position: absolute;
    z-index: 20;
    display: none;
    width: 100%;
}
.home-custom-select-dropdown-elem {
    padding: 0.7rem 1rem;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.2);
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.home-custom-select-dropdown-elem-established {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-custom-select-dropdown-elem:hover {
    background-color: rgb(252, 235, 255);
}
.home-custom-select-dropdown-toggle {
    display: block
}

.home-custom-select-chevron-icon {
    position: absolute;
    right: 1rem;
    bottom: 0.9rem;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}
.home-custom-select-chevron-icon-toggle {
    transform: rotate(-90deg);
}
