.bullet-button {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 4px;
    border: 0;
    padding: 0;
    outline: none;
    border-radius: 50%;
    background-color: #d6d6d6;
}

.bullet-button:hover, .glide__bullet--active {
    background-color: #869791;
}
.guide__slides li.glide__slide {
    position: relative;
}
li.glide__slide {
    position: relative;
}
.glide__slides {
    margin-bottom: 0;
}

.banner-wrapper {
    width: 100%;
    min-height: 50vh;
    position: relative;
    background-color: #f4f4f4;
    filter: brightness(70%);
}

.glide,
.glide__track,
.glide__slides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: all;
}

.glide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glide__bullets {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .glide__bullet {
    width: 7px;
    height: 7px;
    background-color: #ffff;
    transition: width 0.3s ease;
  }

  .glide__bullet--active {
    width: 25px;
    border-radius: 8px;
    background-color: #ffff;
  }

.banner-wrapper > div {
      position: relative;
      min-height: 70vh;
  }

  /* .banner-wrapper:after {
    display: block;
    content: '';
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    pointer-events: none;
    z-index: 0;
  } */


  @media only screen and (max-width: 991px) {
    .banner-wrapper > div {
      max-width: 100%;
    }
  }
