.profile-navigation-container {
    max-width: 100%;
    height: 13vh;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.profile-nav {
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
}
.active-profile-nav {
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color) !important;
}
.profile-nav-links {
    display: flex;
    flex-flow: row wrap;
    width: 18rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}
.profile-navigation-listing, .profile-navigation-favorite, .profile-navigation-contact {
    height: 100%;
    display:flex;
    align-items: center;
}
