
.edit-profile-container {
    margin-top: 20vh;
    display : grid;
    grid-template-columns: 25% 70%;
    column-gap: 2rem;
}

@media only screen and (max-width: 992px){
    .edit-profile-container {
        grid-template-columns: 35% 60%;
    }
}
@media only screen and (max-width: 650px){
    .edit-profile-container {
        grid-template-columns: 95%;
        grid-template-rows: 30% 60%;
    }
}

.edit-profile-account-settings {
    width: 90%;
    margin-left: 2rem;
}

/* Basi Info */
.edit-profile-basic-info {
    border :1px solid rgba(0,0,0,0.1);
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.edit-profile-basic-info-inner {
    margin-top: 2rem;
    padding: 0 2rem;
}

/* Basic INfor Form starts */
.edit-profile-basic-info-form {
    margin-top: 2rem;
}

.edit-profile-submit-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
}