
.home-search-filter-container {
    max-width: 105vw;
    min-width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,1);
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
}
.home-search-filter-container > section {
    width: 62vw;
    margin: 0 auto;
    position: relative;
}

/* Close Button  and Lines*/
.home-search-filter-close {
    position: absolute;
    right: 0rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}
.home-search-filter-close-icon {
    font-size: 4rem;
}
.home-search-filter-close-text{
    padding-right: 1.3rem;
}
/* Filter Box */
.home-search-filter-search-box {
    margin-left: 0;
    width: 100%;
    position: absolute;
    top: 5rem;
}
.home-search-filter-search-container {
    /* background-color: white; */
    position : absolute;
    width: 100%;
    height: 36vh;
    top: 15%;
    left: 0;
    z-index: 50;
}
/* Back Background */
.home-search-filter-back-background {
    position: absolute;
    top: 0;
    max-width: 100vw;
    min-width: 99vw;
    height: 45vh;
    background-color: rgba(91, 30, 102, 0.08);
    overflow-x: hidden;
}
/* Suburb */
.home-search-filter-suburb {
    position: absolute;
    top: 14rem;
    z-index: 1000;
}
/* Main Filter */
.home-search-filter-main {
    width: 50%;
    margin: 0 auto;
    margin-top: 50vh;
}

/* Property Types and CLear */
.home-search-filter-property-types-clear {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.home-search-filter-main-divider {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.home-search-filter-exclude-offer {
    margin-top: 2rem;
    margin-bottom: 1.5rem;

}

/* More Filter */
.home-search-filter-more-filters {
    margin-top: 3rem;
    margin-bottom: 5rem;
    cursor: pointer;
    width: 7rem;
}
.home-search-filter-more-text {
    color: var(--primary-color);
}
.home-search-filter-more-chevron {
    color: rgba(0,0,0,0.4);
    position: relative;
    top: 0.2rem;
}

/* Bottom Search Fixed bar */
.home-search-filter-bottom-fixed-search {
    position: fixed;
    width: 100vw;
    bottom: 0vw;
    height: 0vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.3s ease;
    opacity: 0;
}
.home-search-filter-bottom-fixed-search-toggle {
    height: 12vh;
    opacity: 1;
    bottom: 0;
    animation: fade 0.3s linear;
    transition: height 0.3s ease, opacity 0.3s ease;
}
.home-search-filter-bottom-search-button {
    width: 18rem;
    height: 3rem;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.home-search-filter-bottom-search-button:hover {
    background-color: rgb(107, 40, 119);
}
.home-search-filter-bottom-search-icon {
    font-size: 1.2rem;
}
.home-search-filter-bottom-search-text {
    margin-left: 0.7rem;
}

/* Search Box from New home search */
/* Buy, Rent , Find Agent Search Tab options */
.new-home-tab-options-portal {
    display: flex;
    flex-flow: row wrap;

}
.new-home-tab-portal {
    border: 0px solid transparent;
    width: 8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    cursor: pointer;
    font-size: 0.9rem;
}
.new-home-tab-findagent-portal, .new-home-tab-rent-portal {
    margin-left: 2px;
}
.new-home-tab-active-portal {
    background-color: var(--primary-color);
}
/* Small Triangles */
.new-home-search-triangle-portal {
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -4px;
}
.new-home-search-active-triangle-portal {
    border-left: 8px solid transparent;
    border-top: 8px solid #fff;
    transform: rotate(-45deg);
}
@media only screen and (max-width: 992px){
    .home-search-filter-container > section {
        width: 80vw;
    }
    .home-search-filter-main {
        width: 70%;
        margin: 0 auto;
        margin-top: 50vh;
    }
}
@media only screen and (max-width: 760px){
    .home-search-filter-container > section {
        width: 90vw;
    }
    .home-search-filter-main {
        width: 90%;
        margin: 0 auto;
        margin-top: 50vh;
    }
}

@media only screen and (max-width: 650px) {
    
}
@media only screen and (max-width: 555px) {
    .new-home-tab-findagent-portal {
        display: none;
    }
}
@media only screen and (max-width: 365px) {
    .new-home-tab-rent-portal {
        display: none;
    }
}