
.home-featured{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 96vw;
    margin: 1.5rem auto;

}

.home-featured .home-featured-p {
    font-size: 1.5rem;
    font-weight: lighter;
}