.ad-link {
    color: black;
    text-decoration: none;
}
.ad-link:hover {
    color: black;
    text-decoration: none;
}

.homead-grid-container {
    max-width: 86.5vw;
    margin: 0 auto;
}

.homepagead-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-rows: auto;
    row-gap: 1.5rem;
    column-gap: 1rem;
}

.homead-main-grid {
    display: grid;
    min-height: 40vh;
    max-height: 50vh;
    /* box-shadow: 0 8px 6px -6px black; */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
}

.homead-main-grid:hover {
    /* box-shadow: 0 8px 6px -6px rgba(26, 68, 116, 0.16);  */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
}

/* Horizontal Line between price and icons */

.homead-main-grid-line {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 8px 0;
}

.homead-main-grid-imgcontent {
    width: 100%;
    height: 30vh;
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.homead-img-hover{
    position: absolute;
    /* color: #f4f4f4; */
    cursor: pointer;
    top: 10px;
    right: 8px;
    
}

.homead-icon-saveshare {
    font-size: 1.3rem;
    color: transparent;
    stroke: #f4f4f4;
    stroke-width: 60px;

}

.homead-icon-saveshare-different {
    font-size: 1.3rem;
    color: transparent;
    stroke: #f4f4f4;
    stroke-width: 60px;
    transition: color 0.3s ease;
}

.homead-icon-saveshare-active {
    font-size: 1.3rem;
    color: #FC5C63;
    stroke: #f4f4f4;
    stroke-width: 60px;
    transition: color 0.3s ease;
}

.homead-main-grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.homead-main-grid-locationprice {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.homead-main-grid-price-text {
    color: #5cb85c;
}

.homead-main-grid-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
}

.homead-main-grid-fonticons {
    color: #5cb85c;
}

.homead-main-grid-icons-view, .homead-main-grid-icons-area,
.homead-main-grid-icons-bathroom, .homead-main-grid-icons-bedroom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.homead-other-content {
    display: flex;
    flex-flow: column wrap;
    line-height: 15px;
}

.linkhome:hover {
    color: black;
}

.homead-view-details {
    display: none;
    color: #008489;
}

.homead-main-grid:hover .homead-price-details {
    color: blue;
    display: none;
}

.homead-main-grid:hover .homead-view-details {
    display: block !important;
}

.homead-view-details:hover {
    display: none;
    color: #399C9F;
}

/* Favorite Modal */
.favorite-modal-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#favorite-modal {

}