
.modal-bath-all {
    display: flex;
    flex-flow: row ;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.modal-bath-single {
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.modal-bath-single:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.modal-bath-active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}