
.react-pagination-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }
  
  .react-pagination-container a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  
  .react-link-class{
    font-weight: bold;
  }
  
  .react-link-class--active a {
    color: #fff;
    background: var(--primary-color);
  }
  
  .preact-link-class--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }