
.new-listing-ad-container {
    width: 99%;
    margin: 0 auto;
}
/* Whole Post */
.new-listing-ad-single {
    width: 100%;
    height: 105vh;
    border: 1px solid rgba(0,0,0,.1);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    margin-bottom: 2rem;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
}
/* Image Div */
.new-listing-ad-image-div {
    width: 100%;
    height: 80vh;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: relative;
}   
.new-listing-ad-image-single {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
/* Absolute Image Div */
.new-listing-ad-image-abs-div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
/* Agent Image Div */
.new-listing-ad-image-agent-div {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 0.5rem;
    left: 0.5rem;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 4rem;
    background-color: #fff;
}
.new-listing-ad-image-agent-image {
    width: 100%;
    height:  100%;
    border-radius: 100%;
    object-fit: cover;
}
.new-listing-ad-image-agent-name-div {
    position: absolute;
    left: 5.5rem;
    top: 0.5rem;
}
.new-listing-ad-image-agent-name-text {
    font-weight: bold;
    font-size: 0.9rem;
}
.new-listing-ad-image-agent-company-name-div {
    font-size: 0.9rem;
}
.new-listing-ad-image-company-logo-div {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    width: 4rem;
    height: 4rem;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 4rem;
}
.new-listing-ad-image-company-logo {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
/* FavIcon */
.new-listing-ad-fav-icon-div {
    position: absolute;
    right: 1rem;
    bottom: -1.5rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3rem;
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
    display: flex;    
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.new-listing-ad-fav-icon {
    color: #fff;
    stroke: #000;
    stroke-width: 2rem;
    font-size: 1.1rem;
}
.new-listing-ad-fav-icon-active {
    color: rgb(255, 251, 0);
    stroke: var(--primary-color);
    stroke-width: 2rem;
    font-size: 1.2rem;
}
.new-listing-ad-fav-icon-div:hover .new-listing-ad-fav-icon {
    stroke: var(--primary-color);
}
/* Other Div */
.new-listing-ad-other-div {
    padding: 0.7rem 0.8rem;
}
/* Price */
.new-listing-ad-price-div {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
/* Address Div */
.new-listing-ad-address-div, .new-listing-ad-second-address-div  {
    font-size: 0.9rem;
    color: rgba(0,0,0,0.7);
}
.new-listing-ad-second-address-div  {
    margin-bottom: 0.5rem;
}

/* Icons */
.new-listing-ad-misc {
    display: flex;
    flex-flow: row;
    color: rgba(0,0,0,0.7);
}
.new-listing-ad-misc span {
    font-size: 0.7rem;
    color: rgba(0,0,0,0.7);
}
@media only screen and (max-width: 900px){
    .new-listing-ad-container {
        position: relative;
        top: 9%;
    }
}