
/* Whole Navigation Container */
.nav-container {
    width: 100%;
    height: 13vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease;
} 

.nav-container-border-line {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /* box-shadow: 0 8px 6px -6px rgba(26, 68, 116, 0.16); */
}

.nav-home-background .link-nav {
    color: white !important;
    border-bottom: none;
}

.navBackground {
    background-color: #f4f4f4;
}

.navBackground .link {
    color: black;
}
/*Navigation Left logo */

.nav-logo {
    width: 20%;
    height: 100%;
    position: relative;
    bottom: 1rem;
    padding-left: 2rem;
}


/* Navigation Other Link Starts */
.nav-links {
    width: 50%;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -1.5rem;
}

.nav-authenticate {
    width: 22%;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-signup, .nav-signin {
    padding: 0 2rem;
}


.nav-home, .nav-listing, .nav-agents, .nav-buy, .nav-rent, .nav-blog {
    padding: 0 1.8rem;
    
}

.nav-link {
    font-size: 15px;
    /* border-bottom: 2px solid transparent; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-nav:hover {
    color: var(--secondary-color);
    font-weight: normal;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.active-link {
    color: var(--primary-color) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
}

.signup {
    border: 1px solid transparent;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 15px;
    background-color: var(--primary-color);
    color: #fff;
}
.signup:hover {
    color: #fff !important;
    background-color: var(--hover-color);
}
/* Navigation Other Links Closes */

/* Hamburger Navigation Starts***************** */

.nav-hamburger {
    display: none;
    width: 60px;
    height: 100%;
    z-index: 200;
}

.nav-lines {
    width: 50px;
    height: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav-line {
    background-color: black;
    width: 30px;
    height: 2px;
    transform : rotate(0deg);
    transition: transform 0.3s ease;
}

.line1-open {
    position: relative;
    top: 10px !important;
    width: 30px;
    transform: rotate(135deg);
}
.line2-open {
    visibility: hidden;
}
.line3-open {
    position: relative;
    top: -8px !important;
    width: 30px;
    transform: rotate(-135deg);
}

.hamburger-slide {
    width: 0rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    transition: width 0.3s ease;
}

.hamburger-slide-open {
    width: 18rem;
}

.ham-authenticate {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    top: 8rem;
    left: 1rem;
}

.ham-signin, .ham-signup {
    margin-left: 1.5rem;
}

.ham-signin-link:hover {
    color: rgb(91, 30, 102) !important;
}

.ham-links {
    position: relative;
    top: 9rem;
    display: flex;
    flex-flow: column wrap;
}

.ham-link {
    margin-top: 2rem;
    padding-left: 1rem;
}
.ham-link:hover {
    color: var(--hover-color);
}

.active-ham {
    border-left: 3px solid var(--primary-color);
}

.ham {
    color: black;
}

.active-ham .ham-link {
    color: var(--primary-color) !important;
    font-weight: bold;
}

.ham:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.ham-logo {
    margin-top: 15rem;
}
/* Hamburger Navigation Closes ***************** */



/* Logged In Navigation */

.nav-loggedin {
    width: 250px;
    height: 8vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.nav-loggedin-username{
    margin-right: 1rem;
}

.nav-loggedin-userimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2rem;
    cursor: pointer;
}

.nav-loggedin-profileimage {
    border: 1px solid transparent;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-item-profile:hover {
    color: var(--primary-color);
}

/* Logged In Navigation closed */



@media only screen and (max-width: 1200px) {
    .nav-links {
        display: none;
    }
    .nav-authenticate {
        display: none;
    }

    .nav-hamburger {
        display: block;
        margin-right: 2rem;
    }

    .nav-loggedin {
        position: relative;
        right: -20%;
        transition: right 0.3s ease;
    }

    .nav-loggedin-open {
        right: 0%;
    }
}

@media only screen and (max-width: 882px) {
    .nav-loggedin {
        display: none;
    }
}
@media only screen and (max-width: 882px) {
    .nav-logo {
        padding-left: 0rem;
        left: -0.7rem;
    }
}
@media only screen and (max-width: 450px) {
    .nav-logo {
        left: -2rem;
    }
}

@media only screen and (max-width: 350px) {
    .nav-logo {
        visibility: hidden;
    }

    .hamburger-slide-open {
        width: 14rem;
    }
}

