@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.link {
    color: black;
    text-decoration: none;
}
.link:hover {
    text-decoration: none; 
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

:root {
    --primary-color:rgb(91, 30, 102);
    --secondary-color: rgba(91, 30, 102, 0.5);
    --hover-color:rgb(74, 20, 83);
}
