/* Overriding element hover */
.optionContainer li:hover,
.optionContainer .highlight {
  background: var(--primary-color);
  color: #fff;
}
.modal-price-min, .modal-price-max {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.modal-price-max {
    margin-top: 1rem;
}

.modal-price-footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
.modal-clear-filter, .modal-apply-filter {
    border: 1px solid rgba(0,0,0,0.2);
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
}
.modal-clear-filter:hover  {
    background-color: rgba(0,0,0,1);
}
.modal-apply-filter:hover {
    background-color: var(--hover-color);
}
.modal-apply-filter {
    border: 1px solid var(--primary-color);
    color: #fff;
    background-color: var(--primary-color);
}