.container-register {
    display: grid;
    grid-template-columns: 39% 49%;
}
.left-container {
    width: 100%;
    height: 100%;
    margin-left: 5rem;
}
.right-container {
    max-width : 100%;
    min-width: 59%;
    height: 100%;
    position: fixed;
    right: -3rem;
}

.img-classiBuilding {
    max-width : 59.5vw;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.register-login-logo {
    margin-top: 5rem;
}

.register-text {
    width: auto;
    height: auto;
    margin-top: 3rem;
}

.register-form {
    margin-top: 2rem;
    margin-left: -0.9rem;
}

.lock-register {
    font-size: 13px;
    -webkit-transfrom : scaleX(-1);
    transform: scaleX(-1);
    vertical-align: middle;
}

.marked-fields {
    margin-left: 0.9rem;
}
.register-social-media {
    margin-left: 0.9rem;
}

.google-btn{
    background-color: #dd4b39;
    color: white;
    width: 200px;
    filter: brightness(100%);
}

.google-btn:hover, .facebook-btn:hover{
    filter: brightness(90%);
    color: white;
}

.facebook-btn{
     background-color: #3B5998;
    color: white;
    height: 2.8rem;
    width: 12.5rem;
    border-radius: 1%;
    margin-left: 10px;
}

.switch-second {
    margin-left: 30px;
}

@media only screen and (max-width: 1093px) {
    .right-container {
        display: none;
    }
    .container-register {
        grid-template-columns: 95%;
    }
}
@media only screen and (max-width: 765px){
    .left-container {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 530px) {
    .social-btn {
        display: flex;
        flex-flow: column wrap;
    }
    .facebook-btn {
        margin-left: 0;
        margin-top: 5px;
    }
    /* .register-form {
        margin-left: 20px;
    } */
}

@media only screen and (max-width : 350px) {
    .switch-second {
        margin-left: 0px;
    }
    .switch-btn {
        display: flex;
        flex-flow: column wrap;
    }
}