
.footer-container {
    max-width: 100%;
    position: relative;
}

.footer-svg {
    max-width: 100%;
    background-color: #f4f4f4;
    background-position: bottom;
}

.footer-classi-icon {
    width: 200px;
    height: 100px;
    /* margin-top: 2rem; */
}

.footer-links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 2.8rem;
}

.footer-top-logo-text {
    position: relative;
    bottom: -15rem;
}

.footer-link{
    color: black;
}

.footer-link:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 1100px) {
    .footer-top-logo-text {
        /* position: static; */
        top: 6rem;
    }
}

@media screen and (max-width: 850px) {
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 1.5rem;
    }
}