
.explore-property-div {
    width: 86.2vw;
    margin: 0 auto;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}
.explore-property-div-text {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.explore-property-div-grid {
    margin-top: 1.9rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-template-rows: 1;
    column-gap: 0.8rem;
}
.explore-property-div-grid-single {
    border-radius: 6px;
    background-color: rgb(248, 234, 250);
    /* display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; */
    height: 25vh;
    cursor: pointer;
}
.explore-property-div-grid-single:hover {
    background-color: rgba(233, 221, 235, 0.9);
}
/* Icons */
.explore-property-div-grid-icon {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 4rem;
    height: 4rem;
}
/* Text */
.explore-property-div-grid-text {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    text-align: center;
    position: relative;
    top: 20%;
}