
.new-listing-search-filter-container {
    height: 3rem;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
}
.new-listing-search-filter-all-item {
    margin-left: 1rem;
    height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1rem;
    padding: 0 1rem;
    cursor: pointer;
    color: rgba(0,0,0,0.7);
}
.new-listing-search-filter-all-item:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.new-listing-search-filter-home {
    margin-left: 0;
}
.new-listing-search-filter-active-item {
    background-color: var(--primary-color);
    color: #fff;
}
.new-listing-search-filter-active-item:hover {
    background-color: var(--hover-color);
    color: #fff;
}
@media only screen and (max-width: 1100px){
    .new-listing-search-filter-container {
        height: 5rem;
        overflow: auto;
    }
}
@media only screen and (max-width: 900px){
    .new-listing-search-filter-container {
        position: relative;
        top: 9%;
    }
}
@media only screen and (max-width: 695px){
    .new-listing-search-filter-container {
        height: 5rem;
        overflow: auto;
    }
}
