.home-new-search-filter-price-div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.new-search-filter-range {
    color: var(--primary-color);
}
.home-new-search-filter-price-range-text {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.home-new-search-filter-price-slider {
    width: 95%;
    margin: 0 auto;
}
.rc-slider-tooltip{
    
}