
.carousel-explore-property-div {
    width: 86.2vw;
    margin: 0 auto;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}
.carousel-explore-property-grid-div  {
    margin-top: 1.9rem;
    font-size: 1.1rem;
}
.carousel-explore-property-single {
    background-color: rgb(248, 234, 250);
    display :flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 15vh;
}
.carousel-explore-property-icon {
}
.carousel-explore-property-text {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}
.explore-property-div-text {
    margin-bottom: 1rem;
}
p.carousel-explore-property-text {
    position: relative;
    top: 0.5rem;
}

@media only screen and (max-width: 692px) {
    .carousel-explore-property-single {
        background-color: rgb(248, 234, 250);
        display :flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    .carousel-explore-property-icon {
        position: relative;
        top: 0%;
    }
    .carousel-explore-property-icon-warehouse {
        top: 6%;
    }
    p.carousel-explore-property-text {
        position: relative;
        top: 0.5rem;
    }
    .carousel-explore-property-text {
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 480px){
    p.carousel-explore-property-text {
        position: absolute;
        top: 4.9rem;
    }
    .carousel-explore-property-icon-warehouse {
        top: -7%;
    }
}