
.latest-news-container {
    margin-bottom: 2rem;
    width: 86.5vw;
    margin: 0 auto;
    margin-top: 3rem;
}
.latest-news-heading {
    font-size: 1.1rem;
}
.latest-news-grid-container {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 350px));
    grid-template-rows: 1;
    column-gap: 3rem;
    width: 100%;
}
.latest-news-single {
    cursor: pointer;
}
.latest-news-single:hover .latest-news-single-text-title {
    color: var(--primary-color);
}
.latest-news-single:hover .latest-news-single-image {
    transform: scale(1.1, 1.1);
    transition: transform 0.5s ease;
}
.latest-news-single-image-div {
    overflow: hidden;
    border-radius: 6px;
}
.latest-news-single-image {
    height: 32vh;
    /* border: 1px solid transparent; */
    border-radius: 6px;
    width: 100%;
    transform: scale(1,1);
    
}
.latest-news-single-text-title {
    font-size: 0.9rem;
    margin-top: 0.8rem;
    color: #000;
    transition: color 0.3s ease;
}
@media only screen and (max-width: 1075px){
    .latest-news-grid-container {
        grid-template-columns: repeat(4, minmax(150px, 200px));
        grid-template-rows: 1;
        column-gap: 3rem;
        width: 100%;
    }
    .latest-news-single-image {
        height: 22vh;
    }
    .latest-news-single-text-title {
        font-size: 0.75rem;
    }
}
@media only screen and (max-width: 860px){
    .latest-news-grid-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-template-rows: 2;
        row-gap: 1rem;
        width: 100%;
    }
    .latest-news-single-image {
        height: 12vh;
        width: 8rem;
        
    }
    .latest-news-single {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgb(248, 234, 250);
    }
    .latest-news-single-text-div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .latest-news-single-text-title {
        /* height: 100%;
        width: 100%; */
        padding-left: 0.5rem;
    }
}
@media only screen and (max-width: 690px){
    .latest-news-grid-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, 80%));
        grid-template-rows: 4;
        row-gap: 1rem;
        width: 100%;
    }
}