
.new-footer-header-container {
    width: 100%;
    height: 10vh;
    position: relative;
    background-color: var(--primary-color);
}
.new-footer-header-logo-div {
    position: absolute;
    left: 2rem;
    top: 50%;
    height: 100%;
    width: 7rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
}
.new-footer-header-nav-div {
    position: absolute;
    left: 10rem;
    top: 50%;
    height: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: row;
    align-items: center;
    border-left: 1px solid rgba(255,255,255,0.5);
}
.new-footer-header-nav-link {
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    height: 100%;
    font-size: 0.9rem;
    color: #fff;
}
.new-footer-header-nav-link:hover {
    border-bottom: 2px solid #fff;
}
.new-footer-domain-admin {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 50%;
}
.new-footer-domain-admin-text {
    height: 100%;
    font-size: 0.9rem;
}
.new-footer-domain-for-agent {
    margin-right: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
}
.new-footer-domain-for-agent:hover {
    border-bottom: 2px solid #fff;
}
.new-footer-agent-admin {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 0 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.new-footer-agent-admin:hover {
    background-color: var(--hover-color);
    color: #fff;
}
.new-footer-agent-admin-icon {
    font-size: 0.8rem;
}
.new-footer-classiestate-holding {
    display: none;
}
@media only screen and (max-width: 960px){
    .new-footer-header-container {
        height: 50vh;
    }
    .new-footer-header-logo-div {
        position: absolute;
        left: 2rem;
        top: 0.5rem;
        height: 12%;
        width: 7rem;
        transform: translateY(0%);
        display: flex;
        align-items: center;
    }
    .new-footer-header-nav-div {
        position: absolute;
        left: 2rem;
        top: 5rem;
        height: 50%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        border-left: none;
        width: 7rem;
        transform: translateY(0%);
    }
    .new-footer-header-nav-link {
        display: flex;
        align-items: center;
        margin-left: 0rem;
        margin-bottom: 0.5rem;
        height: 100%;
        font-size: 0.9rem;
        color: #fff;
    }
    .new-footer-domain-admin {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 50%;
    }
    .new-footer-domain-admin-text {
        height: 30%;
        font-size: 0.9rem;
    }
    .new-footer-classiestate-holding {
        display: block;
        position: absolute;
        bottom: 0;
        height: 8vh;
        width: 100%;
        display: flex;
        align-items: center;
        color: #fff;
        padding-left: 2rem;
        background-color: rgb(74, 20, 83);
    }
}