
.latest-ads-container {
    width: 86.5vw;
    margin: 0 auto;
    margin-top: 3rem;
}
.latest-ads-title-see-div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.latest-ads-title {
    font-size: 1.1rem;
}
.latest-ads-see-all {
    font-size: 0.95rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.latest-ads-see-all:hover {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}