
.new-footer-main-div {
    max-width: 100vw;
    padding: 0 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: var(--hover-color);
    height: 100%;
    padding-top: 3rem;
}
.new-footer-all-divs {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    color: #fff;
}
.new-footer-all-divs span {
    color: rgba(255,255,255,0.5);
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}
.new-footer-all-divs span:hover {
    color: #fff;
}
.new-footer-main-title {
    font-size: 1rem !important;
    font-weight: bold;
    color: #fff !important;
    margin-bottom: 1rem !important;
}