
.new-footer-container {
    max-width: 100vw;
    margin-top: 10rem;
    height: 70vh;
    z-index: 10;
}

@media only screen and (max-width: 1070px){
    
.new-footer-container {
    max-width: 100vw;
    margin-top: 3rem;
    height: auto;
    }
    .footer-main-and-bottom {
        display: none;
    }
    .footer-main-new-header {
        position: relative;
        bottom: 0;

    }
}